<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/contact.css" />
  </head>
  <body>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <section class="contact section bd-container" id="contact">
      <span class="section-subtitle"></span>
      <h2 class="section-title">Contact Us</h2>

      <div class="contact__container bd-grid">
        <div class="contact__content bd-grid">

          <div class="contact__box">
            <i class='bx bx-user-pin contact__icon'></i>
            <h3 class="contact__title">Dhiraj Kadian</h3>
            <div>
              <a href="https://www.linkedin.com/in/dhiraj-kadian/" target="_blank" class="contact__social">
                <i class='bx bxl-linkedin-square'></i>
              </a>
              <a href="https://github.com/dhiraj-student" target="_blank" class="contact__social">
                <i class='bx bxl-github'></i>
              </a>
            </div>
          </div>

        </div>

        <form action="https://api.web3forms.com/submit" method="POST" class="contact__form">
          <div class="contact__inputs">
            <input type="hidden" name="access_key" value="26590b26-636a-4fc9-9c8b-106f634b73fd">
            <input type="text" name="Name" placeholder="name" class="contact__input" />
            <input type="email" name="email" placeholder="Email" class="contact__input" id="email-input" />
            <textarea name="" id="text-msg" cols="0" rows="7" placeholder="Message"></textarea>
          </div>
          <div class="submit-btn">
            <input type="submit" value="Send Message" class="button contact__button" />
          </div>
        </form>

      </div>
    </section>
  </body>
</html>